<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>PhoneGap Build Sample</title>
	    <link href="ionic.css" rel="stylesheet">
	
	    <script type="text/javascript" src="SQLitePlugin.js"></script>
	    <script type="text/javascript" src="ionic.bundle.js"></script>
		<script type="text/javascript" src="phonegap-1.0.0.js"></script>
		<script type="text/javascript" src="pouchdb-3.0.6.min.js"></script>
		
		<script type="text/javascript">
		
		/*global PouchDB angular*/
		var myApp = angular.module('myApp', ['ionic']);
		myApp.controller('MyCtrl', function($scope) {
            var db = new PouchDB('books', {adapter: 'websql'}),
            	remote = 'https://iotiot:iot$$$iot@iotiot.cloudant.com/iotserver',
            	opts = {
          			continuous: true
        		};
        	if (!db.adapter) { // websql not supported by this browser
              db = new PouchDB('books');
            }
    		db.replicate.to(remote, opts);
    		db.replicate.from(remote, opts);
    			
    		//$scope.books = [];
    		
            $scope.addBook = function() {
                var book = {
                    _id: $scope.isbnfield,
                    title: $scope.titlefield,
                    author: $scope.authorfield
                };
                db.put(book, function callback(error, result) {
                    if (!error) {
                        $scope.clearFields();
                        $scope.message = "the new book was successfully added";
                        $scope.$apply();
                    } else {
                        $scope.message = error;
                        $scope.$apply();
                    }
                });
            };
            $scope.clearFields = function() {
                $scope.titlefield="";
                $scope.authorfield="";
                $scope.isbnfield="";
                $scope.message="";
                $scope.books=[];
                $scope.bookform.$setPristine();
                $scope.$apply();
            };
            $scope.showBooks = function() {
                $scope.clearFields();
                db.allDocs( {include_docs: true, descending: true},
                            function(err, doc) {
                                $scope.showTableOfBooks(doc.rows);
                            } );
            };
            $scope.showTableOfBooks = function(data) {
                $scope.books=data;
                $scope.$apply();
            };
		});
		</script>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes"/>
    </head>
    
	<body ng-app="myApp">
	
        <div class="bar bar-header bar-dark">
          <h1 class="title">Build MobileApp with just Browser</h1>
        </div>
      
        <ion-content class="has-header" padding="true">
        	<div ng-init="books = []" ng-controller="MyCtrl">
                <form name="bookform">
                    <div class="list">
                      <label class="item item-input">
                        <span class="input-label">Title</span>
                        <input type="text" ng-model="titlefield">
                      </label>
                      <label class="item item-input">
                        <span class="input-label">Author</span>
                        <input type="text" ng-model="authorfield">
                      </label>
                      <label class="item item-input">
                        <span class="input-label">ISBN</span>
                        <input type="text" ng-model="isbnfield">
                      </label>                      
                    </div>
                    <div class="button-bar">
                        <button class ='button button-dark' ng-click="addBook()">Add Book</button> <br/>
                        <button class ='button button-dark' ng-click="showBooks()">Show Books</button> <br/><br/>
                    </div>
                    <div>
                      <label class="item item-input">
                        <span class="input-label">Result</span>
                        <input type="text" ng-model="message">
                      </label> 
                    </div>
                    <div class="row" data-ng-repeat="book in books">
                      <div class="col">{{book.doc._id}}</div>
                      <div class="col">{{book.doc.title}}</div>
                      <div class="col">{{book.doc.author}}</div>
                     </div>
                </form>
            </div>
        </ion-content>
      
        <div class="bar bar-footer bar-dark">
          <div class="title"></div>
        </div>

	</body>
</html>