<!DOCTYPE html>
<html ng-app="myApp">
	<head>
	<meta charset="utf-8">
	<title>PhoneGap Build Sample</title>
	    <script src="angular.min.js"></script>
		<script type="text/javascript" src="phonegap-1.0.0.js"></script>
		<script type="text/javascript" src="pouchdb-3.0.6.min.js"></script>
		
		<script type="text/javascript">
		
		/*global PouchDB angular*/
		var myApp = angular.module('myApp', []);
		myApp.controller('MyCtrl', function($scope) {
            var db = new PouchDB('books', {adapter: 'websql'}),
            	remote = 'https://iotiot:iot$$$iot@iotiot.cloudant.com/iotserver',
            	opts = {
          			continuous: true
        		};
        	if (!db.adapter) { // websql not supported by this browser
              db = new PouchDB('books');
            }
    		db.replicate.to(remote, opts);
    		db.replicate.from(remote, opts);
    			
    		$scope.books = [];
    		
            $scope.addBook = function() {
                var book = {
                    _id: $scope.isbnfield,
                    title: $scope.titlefield,
                    author: $scope.authorfield
                };
                db.put(book, function callback(error, result) {
                    if (!error) {
                        $scope.clearFields();
                        $scope.message = "the new book was successfully added";
                    }
                });
            };
            $scope.clearFields = function() {
                $scope.titlefield="";
                $scope.authorfield="";
                $scope.isbnfield="";
                $scope.bookform.$setPristine();
            };
            $scope.showBooks = function() {
                db.allDocs( {include_docs: true, descending: true},
                            function(err, doc) {
                                $scope.showTableOfBooks(doc.rows);
                            } );
            };
            $scope.showTableOfBooks = function(data) {
                $scope.books=data;
            };
		});
		</script>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes"/>
    </head>
	<body>
	<div ng-controller="MyCtrl">
    <form name="bookform">
        book title <input type="text" ng-model="titlefield" /> <br/>
        book author <input type="text" ng-model="authorfield" /> <br/>
        book isbn <input type="text" ng-model="isbnfield" /> <br/>
        <button ng-click="addBook()">Add Book</button> <br/>
        <button ng-click="clearFields()">Clear Fields</button> <br/>
        <button ng-click="showBooks()">Show Books</button> <br/><br/>
        Result <input type="text" ng-model="message" /> <br/>
      <ul>
        <li ng-repeat="book in books">
          <span>{{book.doc._id}}</span>
          <span>{{book.doc.title}}</span>
          <span>{{book.doc.author}}</span>
        </li>
      </ul>
  
    </form>
    </div>
	</body>
</html>